// main.rc

#define RT_MANIFEST 24

#include "version.h"
#include "version_template.h"

#define MAKEVER_S(a,b,c,d) a,b,c,d
#define MAKEVER(a,b,c,d,e) a.b.c.d.e
#define STRINGIFY(x) #x
#define TOSTRING(x) STRINGIFY(x)

1 VERSIONINFO
PRODUCTVERSION MAKEVER_S(VER_MAJOR, VER_MINOR, VER_PATCH, VER_REVISION)
FILEVERSION MAKEVER_S(VER_MAJOR, VER_MINOR, VER_PATCH, VER_REVISION)

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
			VALUE "CompanyName", "blog.csdn.net/FlushHip"
			VALUE "FileDescription", "FlushHip"
			VALUE "FileVersion", TOSTRING(MAKEVER(VER_MAJOR, VER_MINOR, VER_PATCH, VER_REVISION, VER_REVISION_HASH))
			VALUE "InternalName", "FlushHip"
			VALUE "LegalCopyright", "Copyright (C) 2018. FlushHip. All Rights Reserved."
			VALUE "OriginalFilename", "FlushHip.exe"
			VALUE "ProductName", "FlushHip"
			VALUE "ProductVersion", TOSTRING(MAKEVER(VER_MAJOR, VER_MINOR, VER_PATCH, VER_REVISION, VER_REVISION_HASH))
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
            VALUE "Translation", 0x0409, 0x04B0
    END
END

1 ICON "main.ico"

1 RT_MANIFEST "main.manifest"